<html>

<head>
    <title>TableShare</title>
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/angular-bootstrap/ui-bootstrap-csp.css" />
    <link rel="stylesheet" href="css/vendor/jquery-ui.theme.min.css" />
    <link rel="stylesheet" href="bower_components/fullcalendar/dist/fullcalendar.css"/>
    <link rel="stylesheet" href="bower_components/ngToast/dist/ngToast.min.css"/>
    <!-- Custom CSS -->
    <link href="css/vendor/sidebar.css" rel="stylesheet">
    <link rel="stylesheet" href="css/style.css" />
</head>

<body ng-app="TableShare" ng-controller="AuthenticationController">


<div id="wrapper">

    <!-- Sidebar -->
    <div id="sidebar-wrapper">
        <ul class="sidebar-nav">
            <li class="sidebar-brand">
                <a href="#">
                    TableShare
                </a>
            </li>
            <li><a href="#/timetables">Browse</a></li>
            <li ng-if="!isLoggedIn()"><a href="" ng-click="openLogin(100)">Login</a></li>
            <li ng-if="isLoggedIn()"><a href="" ng-click="logout()" >Log Out</a></li>
            <li ng-if="isLoggedIn()"><a href="" ng-click="addTable()" class="glyphicon glyphicon-pencil"></a></li>
        </ul>
        </ul>
    </div>
    <!-- /#sidebar-wrapper -->

    <!-- Page Content -->
    <div id="page-content-wrapper">
        <toast></toast>
        <div class="container-fluid" >
            <div class="row">
                <div class="col-md-12">
                    <div ng-view></div>
                </div>
            </div>
        </div>
    </div>
    <!-- /#page-content-wrapper -->

</div>
<!-- /#wrapper -->



<script src="/bower_components/jquery/dist/jquery.js"></script>
<script src="/bower_components/angular/angular.js"></script>
<script src="/bower_components/angular-route/angular-route.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.js"></script>
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<script src="/bower_components/angular-animate/angular-animate.js"></script>
<script src="bower_components/angular-sanitize/angular-sanitize.min.js"></script>
<script src="/bower_components/ngToast/dist/ngToast.min.js"></script>
<script src="/bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="bower_components/moment/min/moment.min.js"></script>
<script type="text/javascript" src="bower_components/angular-ui-calendar/src/calendar.js"></script>
<script type="text/javascript" src="bower_components/fullcalendar/dist/fullcalendar.js"></script>
<script type="text/javascript" src="bower_components/fullcalendar/dist/gcal.js"></script>


<script src="/app.js"></script>
<script src="/routes/main.js"></script>
<script src="/controllers/main.js"></script>

<script src="/modules/timetables/timetables.js"></script>
<script src="/modules/timetables/controllers/timetables.js"></script>
<script src="/modules/timetables/services/timetables.js"></script>
<script src="/modules/timetables/routes/timetables.js"></script>

<script src="/modules/timetables/events/events.js"></script>
<script src="/modules/timetables/events/controllers/events.js"></script>
<script src="/modules/timetables/events/services/events.js"></script>
<script src="/modules/timetables/events/routes/events.js"></script>


<script src="/modules/users/users.js"></script>
<script src="/modules/users/controllers/users.js"></script>
<script src="/modules/users/services/users.js"></script>
<script src="/modules/users/routes/users.js"></script>

<script src="/modules/authentication/authentication.js"></script>
<script src="/modules/authentication/controllers/authentication.js"></script>
<script src="/modules/authentication/services/authentication.js"></script>
<script src="/modules/authentication/routes/authentication.js"></script>

</body>

</html>
