<div class="modal-body">
    <div class="loginmodal-container">
        <h1>Edit Event</h1><br>
        <form ng-submit="update()">
            <input type="text"  ng-model="event.title" placeholder="Title">

            <input type="text" ng-model="event.location" placeholder="Location">

            <select ng-model="event.colour">
                <option value="">- Colour -</option>
                <option ng-repeat="colour in colours"
                        value="{{colour.value}}">
                    {{colour.name}}
                </option>
            </select>

            <input type="submit" name="save" class="login loginmodal-submit" value="Save">
        </form>

        <div class="login-help deleteEvent">
            <a href='' ng-click="delete(event._id)">Delete Event</a>
        </div>


    </div>
</div>
