
<h3>{{table.title}}</h3>

        <div class="timetable" ng-init="getTable()">
            <div ui-calendar="uiConfig.calendar" class="span8 calendar" ng-model="eventSources"></div>
        </div>


        <ul class="floatingContainer">
            <li ng-show="isOwner()" class="floatingButton" ng-click="addEvent()"><i class="glyphicon glyphicon-pencil"></i></li>
            <li class="floatingButton" ng-click="shareEvent()"><i class="glyphicon glyphicon-retweet"></i></li>
            <li class="floatingButton" ng-click="subscribe()"><i class="glyphicon glyphicon-heart"></i></li>
        </ul>
