<div class="modal-body">
    <div class="loginmodal-container">
        <h1>Crate new Timetable</h1><br>
        <form ng-submit="createTimetable()">
            <input type="text" name="formTitle" ng-model="newTable.title" placeholder="Title" required>

            <select ng-model="newTable.startDay">
                <option value="">- Starting day -</option>
                <option ng-repeat="day in days"
                        value="{{day.value}}">
                    {{day.name}}
                </option>
            </select>

            <select ng-model="newTable.endDay">
                <option value="">- Ending day -</option>
                <option ng-repeat="day in days"
                        value="{{day.value}}">
                    {{day.name}}
                </option>
            </select>

            <select ng-model="newTable.startHour">
                <option value="">- Starting Hour -</option>
                <option ng-repeat="hour in hours"
                        value="{{hour.value}}">
                    {{hour.name}}
                </option>
            </select>

            <select ng-model="newTable.endHour">
                <option value="">- Ending Hour -</option>
                <option ng-repeat="hour in hours"
                        value="{{hour.value}}">
                    {{hour.name}}
                </option>
            </select>

            <input type="submit" name="login" class="login loginmodal-submit" value="Create">
        </form>
    </div>
</div>
