<div class="modal-body">
    <div class="loginmodal-container">
        <h1>Login to Your Account</h1><br>
        <form ng-submit="login()">
            <input type="text" name="formEmail" ng-model="formEmail" placeholder="Email">
            <input type="password" name="formPassword" ng-model="formPassword" placeholder="Password">

            <input type="submit" name="login" class="login loginmodal-submit" value="Login">
        </form>

        <div class="login-help">
            Don't have an account? <a href='' ng-click="openRegister()">Register</a>
        </div>
    </div>
</div>
