<div class="modal-body">
    <div class="loginmodal-container">
        <h1>Login to Create</h1><br>
        <form ng-submit="login()">
            <input type="email" name="formEmail" ng-model="formEmail" placeholder="Email" required>
            <input type="password" name="formPassword" ng-model="formPassword" placeholder="Password" required>

            <input type="submit" name="login" class="login loginmodal-submit" value="Login">
        </form>

        <div class="login-help">
            Don't have an account? <a href='' ng-click="openRegister()">Register</a>
        </div>
    </div>

</div>
