<div class="modal-body">
    <div class="loginmodal-container">
        <h1>Register an Account</h1><br>
        <form ng-submit="login()">
            <input type="text" name="formUsername" ng-model="formUsername" placeholder="Username">
            <input type="password" name="formPassword" ng-model="formPassword" placeholder="Password">
            <input type="password" name="formPassword2" ng-model="formPassword2" placeholder="Confirm Password">
            <input type="submit" name="login" class="login loginmodal-submit" value="Register">
        </form>
    </div>
</div>
