<div class="modal-body">
    <div class="loginmodal-container">
        <h1>Register an Account</h1><br>
        <form ng-submit="register()">
            <input type="email" name="formEmail" ng-model="formEmail" placeholder="Email" required>
            <input type="password" name="formPassword" ng-model="formPassword" placeholder="Password" required>
            <input type="submit" name="register" class="login loginmodal-submit" value="Register">
        </form>

        <div class="login-help">
            Already have an account? <a href='' ng-click="openLogin()">Login</a>
        </div>
    </div>
</div>
